<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBluePrintAdded($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let server of serverElements" [server]="server">
        <p #paragraphContent>
          <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
          <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2>Assignment 4</h2>
    <app-game-control (onIncrement)="increment($event)"></app-game-control>
    <app-even *ngFor="let number of oddNumbers" [value]="number"></app-even>
    <app-odd *ngFor="let number of evenNumbers" [value]="number"></app-odd>
  </div>
</div>